

p {
  font-family: Lato;
}

h1 { 
  font-family: Lato;
  text-align: center;
  background: #191919;
  color: yellowgreen;
}

footer {
  text-align: center;
  font-size: 10px;
  color: white;
  font-weight: 700;
  background: slategray;
}